.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.navbar{
  background-color: #003F5C !important;  
}
.nav-link{
    color: white !important;
    
}
.navbar-brand{
color: white !important;
font-weight: bold;
}
.content{
  padding-top: 80px;
}
.footer{
  padding: 10px;
  text-align: center;
  background-color: #003F5C;
  color: wheat;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;


}

button{
  background-color: #003F5C;
  box-shadow: none;
  border: 1px solid white;
  color: white;
  padding: 6px;
  font-weight: bold !important;
}
button:hover{
  background-color: orange;
}